@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://unpkg.com/primereact/resources/themes/lara-light-blue/theme.css");
@import url("https://unpkg.com/primereact/resources/primereact.min.css");
@import url("https://unpkg.com/primeicons/primeicons.css");


html, body {
  overflow: auto; /* Allow scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;  
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@keyframes popup {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@layer utilities {
  .animate-popup {
    animation: popup 0.3s ease-in-out forwards;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


